html {
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #BEE3DB;
  margin-top: -1px;
  color: #FBF2EE;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 16rem;
  background: #00171F;
  padding-right: 1rem;
}

.card-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  overflow: auto;
}

.card-grid {
  background: #7EC8B8;
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 20px;
}

.card {
  background: #89B0AE;
  height: 38rem;
  box-shadow: 0rem 0rem .5rem #00171F;
}

#username-dropdown-area {
  display: flex; 
  flex-direction: row-reverse;
  padding: 1rem;

}

/* #username-dropdown-area:hover div{
  display: inline-block;
  position: relative;
} */

.dropdown-menu {
  display: none;
  background: #BEE3DB;
  align-self: flex-start;
}

#options-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 32rem;
}

.header img {
  margin-left: 1rem;
}

.headline {
  color: #00171F
}

.top-image {
  display: flex; 
  justify-content: space-between;
  height: 33%;
  width: 100%;
  background: red;
}

.card-text-area {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:
}

.name-and-date {
  display: flex;
  flex-direction: column;
}

.top-text {
  margin-block-end: 0em;
}

.bottom-text {
  margin-block-start: 0em;
}

.embedded-link {
  background: #BEE3DB;
  margin-right: 1rem;
  overflow-wrap: break-word;
}

